In [1]:
import pandas as pd
df1 = pd.DataFrame({
    "city": ["new york", "chicago", "orlando"],
    "temprature": [21, 14, 35],
})
df1

       city  temprature
0  new york          21
1   chicago          14
2   orlando          35

In [2]:
df2 = pd.DataFrame({
    "city": ["chicago", "new york", "orlando"],
    "humidity": [65, 68, 75]
})
df2

       city  humidity
0   chicago        65
1  new york        68
2   orlando        75

In [4]:
df = pd.merge(df1, df2, on="city")
df

       city  temprature  humidity
0  new york          21        68
1   chicago          14        65
2   orlando          35        75

In [5]:
df1 = pd.DataFrame({
    "city": ["new york", "chicago", "orlando", "baltimore"],
    "temprature": [21, 14, 35, 25],
})
df1

        city  temprature
0   new york          21
1    chicago          14
2    orlando          35
3  baltimore          25

In [6]:
df2 = pd.DataFrame({
    "city": ["chicago", "new york", "orlando", "san fransisco"],
    "humidity": [65, 68, 75, 73]
})
df2

            city  humidity
0        chicago        65
1       new york        68
2        orlando        75
3  san fransisco        73

# Intersection:

In [7]:
df = pd.merge(df1, df2, on="city")
df

       city  temprature  humidity
0  new york          21        68
1   chicago          14        65
2   orlando          35        75

# Union:

In [11]:
df = pd.merge(df1, df2, on="city", how="outer", indicator=True)
df

            city  temprature  humidity      _merge
0       new york        21.0      68.0        both
1        chicago        14.0      65.0        both
2        orlando        35.0      75.0        both
3      baltimore        25.0       NaN   left_only
4  san fransisco         NaN      73.0  right_only