In [3]:
#Dictionary data frame
people = {
    "first" : ["Anurag","Jane","John"],
    "last" : ["Timilsina","Doe","Doe"],
    "email" : ["anurag.timilsina@gmail.com", "janeDoe@gmail.com", "johnDoe@gmail.com"]
}

In [4]:
people['email']

['anurag.timilsina@gmail.com', 'janeDoe@gmail.com', 'johnDoe@gmail.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
df

    first       last                       email
0  Anurag  Timilsina  anurag.timilsina@gmail.com
1    Jane        Doe           janeDoe@gmail.com
2    John        Doe           johnDoe@gmail.com

In [8]:
df['email']

0    anurag.timilsina@gmail.com
1             janeDoe@gmail.com
2             johnDoe@gmail.com
Name: email, dtype: object

In [9]:
type(df['email'])

pandas.core.series.Series

In [10]:
df.email

0    anurag.timilsina@gmail.com
1             janeDoe@gmail.com
2             johnDoe@gmail.com
Name: email, dtype: object

In [11]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [12]:
df.iloc[0]

first                        Anurag
last                      Timilsina
email    anurag.timilsina@gmail.com
Name: 0, dtype: object

In [13]:
df.iloc[[0,1]]

    first       last                       email
0  Anurag  Timilsina  anurag.timilsina@gmail.com
1    Jane        Doe           janeDoe@gmail.com

In [14]:
df.iloc[[0,1],2]

0    anurag.timilsina@gmail.com
1             janeDoe@gmail.com
Name: email, dtype: object

In [15]:
df.loc[0]

first                        Anurag
last                      Timilsina
email    anurag.timilsina@gmail.com
Name: 0, dtype: object

In [16]:
df.loc[[0,1]]

    first       last                       email
0  Anurag  Timilsina  anurag.timilsina@gmail.com
1    Jane        Doe           janeDoe@gmail.com

In [17]:
df.loc[[0,1],['email','last']]

                        email       last
0  anurag.timilsina@gmail.com  Timilsina
1           janeDoe@gmail.com        Doe

In [19]:
df.set_index('email',inplace=True)

In [20]:
df

                             first       last
email
anurag.timilsina@gmail.com  Anurag  Timilsina
janeDoe@gmail.com             Jane        Doe
johnDoe@gmail.com             John        Doe

In [21]:
df.index

Index(['anurag.timilsina@gmail.com', 'janeDoe@gmail.com', 'johnDoe@gmail.com'], dtype='object', name='email')

In [22]:
df.loc['anurag.timilsina@gmail.com','last']

'Timilsina'

In [23]:
df['last'] == 'Doe'

email
anurag.timilsina@gmail.com    False
janeDoe@gmail.com              True
johnDoe@gmail.com              True
Name: last, dtype: bool

In [24]:
fil = (df['last'] == 'Doe')

In [25]:
df[fil]

                  first last
email
janeDoe@gmail.com  Jane  Doe
johnDoe@gmail.com  John  Doe

In [29]:
df.loc[fil,'first']

email
janeDoe@gmail.com    Jane
johnDoe@gmail.com    John
Name: first, dtype: object

In [30]:
fil = (df['last']=='Doe') & (df['first'] == 'John')

In [32]:
df.loc[fil,'first']

email
johnDoe@gmail.com    John
Name: first, dtype: object

In [33]:
fil = (df['last']=='Doe') | (df['first'] == 'Anurag')

In [36]:
df.loc[fil,'first']

email
anurag.timilsina@gmail.com    Anurag
janeDoe@gmail.com               Jane
johnDoe@gmail.com               John
Name: first, dtype: object