In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('data/survey_results_public.csv', index_col = 'Respondent')
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col = 'Column')

In [5]:
pd.set_option('display.max_columns', 61)
pd.set_option('display.max_rows', 61)

In [6]:
df.head()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man,Flex time or a flexible schedule;Office enviro...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Curious about other opportunities;Wanting to w...,NaN,Once a year,Not sure,Yes,Yes,Occasionally: 1-2 days per quarter but less th...,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Linux-based,20 to 99 employees,NaN,NaN,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,Multiple times per day,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [7]:
df['ConvertedComp'].head(15)

Respondent
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8     116000.0
9          NaN
10     32315.0
11     40070.0
12     14268.0
13     38916.0
14     66000.0
15         NaN
Name: ConvertedComp, dtype: float64

In [8]:
df['ConvertedComp'].median()

54049.0

In [9]:
df.median()

Age                 29.0
CompTotal        63000.0
ConvertedComp    54049.0
WorkWeekHrs         40.0
dtype: float64

In [10]:
df.describe()

                Age      CompTotal  ConvertedComp   WorkWeekHrs
count  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean      30.834111  3.190464e+242   1.037561e+05     40.782174
std        9.585392            inf   2.268853e+05     17.816383
min        1.000000   0.000000e+00   0.000000e+00      1.000000
25%       24.000000   2.000000e+04   2.464800e+04     40.000000
50%       29.000000   6.300000e+04   5.404900e+04     40.000000
75%       35.000000   1.250000e+05   9.500000e+04     44.000000
max      279.000000  1.111111e+247   2.000000e+06    475.000000

In [11]:
df['ConvertedComp'].count()

34756

In [12]:
df['Hobbyist']

Respondent
1        Yes
2         No
3        Yes
4        Yes
5        Yes
        ...
64858    Yes
64867    Yes
64898    Yes
64925    Yes
65112    Yes
Name: Hobbyist, Length: 64461, dtype: object

In [13]:
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [16]:
schema_df.loc['Sexuality'].value_counts()

Which of the following describe you, if any? Please check all that apply. If you prefer not to answer, you may leave this question blank.    1
Name: Sexuality, dtype: int64

In [17]:
df['Sexuality'].value_counts()

Straight / Heterosexual                                  40118
Bisexual                                                  1918
Gay or Lesbian                                             978
Bisexual;Straight / Heterosexual                           258
Queer                                                      249
Bisexual;Queer                                             191
Gay or Lesbian;Queer                                        90
Straight / Heterosexual;Queer                               56
Bisexual;Gay or Lesbian                                     40
Bisexual;Gay or Lesbian;Straight / Heterosexual;Queer       39
Bisexual;Gay or Lesbian;Queer                               24
Gay or Lesbian;Straight / Heterosexual                      13
Bisexual;Straight / Heterosexual;Queer                      10
Bisexual;Gay or Lesbian;Straight / Heterosexual              8
Name: Sexuality, dtype: int64

In [18]:
df['Sexuality'].value_counts(normalize=True)

Straight / Heterosexual                                  0.911939
Bisexual                                                 0.043599
Gay or Lesbian                                           0.022231
Bisexual;Straight / Heterosexual                         0.005865
Queer                                                    0.005660
Bisexual;Queer                                           0.004342
Gay or Lesbian;Queer                                     0.002046
Straight / Heterosexual;Queer                            0.001273
Bisexual;Gay or Lesbian                                  0.000909
Bisexual;Gay or Lesbian;Straight / Heterosexual;Queer    0.000887
Bisexual;Gay or Lesbian;Queer                            0.000546
Gay or Lesbian;Straight / Heterosexual                   0.000296
Bisexual;Straight / Heterosexual;Queer                   0.000227
Bisexual;Gay or Lesbian;Straight / Heterosexual          0.000182
Name: Sexuality, dtype: float64

In [19]:
df['Country'].value_counts()

United States     12469
India              8403
United Kingdom     3896
Germany            3890
Canada             2191
                  ...
Saint Lucia           1
Gabon                 1
Fiji                  1
Kiribati              1
Grenada               1
Name: Country, Length: 183, dtype: int64

In [20]:
country_grp = df.groupby(['Country'])

In [21]:
country_grp.get_group('United States')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,USD,MongoDB,MariaDB;MySQL;Redis,"Developer, back-end;Developer, desktop or ente...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,Remote work options;Opportunities for professi...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",JavaScript,Python;SQL,Unity 3D,Ansible,NaN,Confluence;Jira;Github;Slack;Microsoft Teams;G...,Yes,Extremely important,Not at all important/not necessary,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Once a year,Not sure,Yes,No,Occasionally: 1-2 days per quarter but less th...,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Play games;Call a coworker or friend;Visit Sta...,Linux-based,20 to 99 employees,iOS;Slack Apps and Integrations,Docker,I have some influence,Straight / Heterosexual,Yes,"No, not really",Less than once per month or monthly,Multiple times per day,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
14,I am a developer by profession,Yes,27.0,13,Yearly,66000.0,66000.0,United States,United States dollar,USD,Firebase;Microsoft SQL Server,Firebase;Microsoft SQL Server,"Developer, desktop or enterprise applications;...","Associate degree (A.A., A.S., etc.)",Employed full-time,White or of European descent,Man,Industry that I’d be working in;Flex time or a...,Slightly satisfied,"I’m not actively looking, but I am open to new...",HTML/CSS;JavaScript;SQL;TypeScript,HTML/CSS;JavaScript;SQL;TypeScript,Node.js,Node.js,Confluence;Jira;Github;Microsoft Teams;Google ...,Confluence;Jira;Github;Microsoft Teams,Yes,Extremely important,Somewhat important,Wanting to share accomplishments with a wider ...,"Read company media, such as employee blogs or ...",Every few months,No,Yes,No,Occasionally: 1-2 days per quarter but less th...,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,100 to 499 employees,Google Cloud Platform;Raspberry Pi;Windows,Google Cloud Platform;Windows,I have little or no influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per week,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Vue.js,Angular;Vue.js,Just as welcome now as I felt last year,40.0,5,1
17,I am a developer by profession,Yes,25.0,14,Yearly,79000.0,79000.0,United States,United States dollar,USD,Cassandra;Elasticsearch;MariaDB;PostgreSQL;Redis,Microsoft SQL Server;PostgreSQL,"Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,"Industry that I’d be working in;Languages, fra...",Slightly dissatisfied,"I’m not actively looking, but I am open to new...",C#;Go;Haskell;HTML/CSS;JavaScript;Python;Ruby;...,C#;HTML/CSS;JavaScript;Python;SQL;VBA,.NET Core;Teraform,.NET;Node.js,"Github;Gitlab;Slack;Google Suite (Docs, Meet, ...",Github;Gitlab;Slack;Microsoft Teams;Google Sui...,Yes,Extremely important,Fairly important,Having a bad day (or week or month) at work;Be...,Company reviews from third party sites (e.g. G...,Once a year,Not sure,No,No,Rarely: 1-2 days per year or less,NaN,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,20 to 99 employees,Docker;Kubernetes;Microsoft Azure,NaN,I have little or no influence,Straight / Heterosexual,Yes,"No, not at all",I have never participated in Q&A on Stack Over...,Daily or almost daily,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,7,3
18,I am a developer by profession,Yes,32.0,12,Monthly,105000.0,1260000.0,United States,United States dollar,USD,Elasticsearch;PostgreSQL;Redis;SQLite,Elasticsearch;MariaDB;MySQL;Redis;SQLite,"Developer, back-end","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,"Languages, frameworks, and other technologies ...",Very satisfied,I am not interested in new job opportunities,HTML/CSS;Perl,Bash/Shell/PowerShell;HTML/CSS;Perl,NaN,NaN,Github,Github;Slack,Not sure,Neutral,Very important,Looking to relocate,NaN,Once every few years,Yes,Onboarding? What onboarding?,Yes,Occasionally: 1-2 days per quarter but less th...,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Play games;Visit Stack Overflow;Do other work ...,Linux-based,100 to 499 employees,Linux,AWS;Linux,I have some influence,Straight / Heterosexual,Yes,"Yes, somewhat",I have never participated in Q&A on Stack Over...,Daily or almost daily,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,19,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58498,NaN,Yes,32.0,23,NaN,NaN,NaN,United States,NaN,NaN,Firebase;Microsoft SQL Server;MySQL;SQLite,Firebase;Microsoft SQL Server;MySQL;SQLite,"Data or business analyst;Developer, back-end;S...",Some college/university study without earning ...,"Independent contractor, freelancer, or self-em...",White or of European descent,Man,NaN,NaN,NaN,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,.NET;.NET Core;Apache Spark;Cordova;Flutter;No...,.NET;.NET Core;Apache Spark;Cordova;Flutter;No...,Github;Gitlab;Facebook Workplace;Slack;Microso...,Github;Gitlab;Facebook Workplace;Slack;Microso...,NaN,NaN,Very important,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Start a free trial;Visit developer communities...,Amused,Stack Exchange (public Q&A for a variety of to...,Watch help / tutorial videos;Visit another dev...,Linux-based,NaN,Android;Google Cloud Platform;Linux;MacOS;Micr...,Android;Google Cloud Platform;Linux;MacOS;Micr...,NaN,Straight / Heterosexual,NaN,NaN,NaN,NaN,Neither easy nor difficult,Appropriate in length,No,Mathematics or statistics,ASP.NET;ASP.NET Core;Flask;Gatsby;jQuery;React...,ASP.NET;ASP.NET Core;Flask;Gatsby;jQuery;React...,NaN,NaN,8,Less than 1 year
58896,NaN,Yes,29.0,10,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Student,White or of European descent,Man,NaN,NaN,NaN,Haskell,Haskell,NaN,NaN,Gitlab;Slack,Github;Gitlab;Slack,NaN,NaN,NaN,NaN,NaN,Once a year,No,NaN,NaN,NaN,Ask developers I know/work with;Visit develope...,Amused,Stack Overflow (public Q&A for anyone who code...,Play games;Call a coworker or friend;Visit Sta...,MacOS,NaN,NaN,NaN,NaN,Gay or Lesbian;Queer,Yes,"Yes, somewhat",A few times per week,Daily or almost daily,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,29,NaN
60931,NaN,Yes,NaN,17,NaN,NaN,NaN,United States,NaN,NaN,MariaDB;MySQL;PostgreSQL,MariaDB;MySQL,System administrator,Some college/university study without earning ...,Employed full-time,NaN,Man,NaN,NaN,NaN,Bash/Shell/PowerShell;C;C#;C++;PHP;Python,Bash/Shell/PowerShell;HTML/CSS;PHP,Unity 3D;Unreal Engine,NaN,Github;Stack Overflow for Teams,Github,NaN,NaN,Not at all important/not necessary,NaN,NaN,NaN,Not sure,NaN,NaN,NaN,Start a free trial;Visit developer communities...,"Hello, old friend",Stack Overflow (public Q&A for anyone who codes),Play games;Visit Stack Overflow;Watch help / t...,Linux-based,NaN,Android;Arduino;Linux;Raspberry Pi;Windows,WordPress,NaN,NaN,Yes,Neutral,I have never participated in Q&A on Stack Over...,Less than once per month or monthly,Neither easy nor difficult,Too long,No,Web development or web design,NaN,Drupal,Not applicable - I did not use Stack Overflow ...,NaN,5,NaN
63077,NaN,Yes,NaN,20,NaN,NaN,NaN,United States,NaN,NaN,MySQL,MySQL,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,C++;Rust;SQL,C++;HTML/CSS;Java;JavaScript;Python;SQL,NaN,NaN,NaN,NaN,NaN,NaN,Fairly important,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,"No, not really",I have never participated in Q&A on Stack Over...,A few times per week,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,4,NaN
64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,Senior executive/VP,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very important,NaN,NaN,Once a decade,NaN,NaN,NaN,NaN,Start a free trial,Amused,Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend,Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year

In [24]:
filt = df['Country'] == 'United States'
df.loc[filt]['Age'].value_counts()

30.0    484
28.0    460
25.0    441
27.0    441
29.0    422
       ...
22.5      1
85.0      1
99.0      1
27.5      1
79.0      1
Name: Age, Length: 85, dtype: int64

In [26]:
country_grp['Age'].value_counts().head(20)

Country      Age
Afghanistan  23.0    5
             22.0    3
             25.0    3
             15.0    2
             20.0    2
             24.0    2
             28.0    2
             26.0    1
             30.0    1
             32.0    1
Albania      23.0    4
             22.0    3
             25.0    3
             28.0    3
             38.0    3
             24.0    2
             33.0    2
             16.0    1
             18.0    1
             19.0    1
Name: Age, dtype: int64

In [27]:
country_grp['Age'].value_counts().loc['India']

Age
23.0    424
25.0    407
24.0    380
26.0    341
22.0    339
27.0    298
21.0    294
28.0    282
30.0    258
29.0    232
20.0    209
19.0    127
31.0    123
32.0    103
18.0     82
33.0     76
35.0     71
34.0     47
36.0     35
38.0     35
17.0     30
16.0     27
40.0     27
39.0     23
15.0     22
37.0     22
41.0     13
42.0      9
48.0      9
43.0      8
44.0      8
13.0      6
14.0      6
45.0      6
55.0      4
46.0      2
54.0      2
57.0      2
99.0      2
3.0       1
7.0       1
10.0      1
11.0      1
12.0      1
19.8      1
21.5      1
24.5      1
26.5      1
47.0      1
50.0      1
51.0      1
52.0      1
59.0      1
60.0      1
61.0      1
63.0      1
69.0      1
70.0      1
73.0      1
94.0      1
98.0      1
Name: Age, dtype: int64

In [28]:
country_grp['ConvertedComp'].median().loc['India']

10056.0

In [29]:
country_grp['ConvertedComp'].agg(['median','mean'])

                                       median           mean
Country
Afghanistan                           15163.5  148290.125000
Albania                               15900.0   25611.000000
Algeria                                9432.0   10362.812500
Andorra                               88640.0   88640.000000
Angola                                 5292.0    5292.000000
...                                       ...            ...
Venezuela, Bolivarian Republic of...   3600.0    6280.611111
Viet Nam                              10344.0   28342.605769
Yemen                                 36000.0   36000.000000
Zambia                                 5452.0   17506.400000
Zimbabwe                               7200.0   26338.181818

[183 rows x 2 columns]

In [32]:
filt = df['Country'] == 'India'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python')

Respondent
7        False
22        True
58       False
63        True
149      False
         ...
54757     True
55407      NaN
62464      NaN
62954    False
64236      NaN
Name: LanguageWorkedWith, Length: 8403, dtype: object

In [33]:
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

2670

In [34]:
country_grp['LanguageWorkedWith'].str.contains('Python').sum()

AttributeError: 'SeriesGroupBy' object has no attribute 'str'

In [35]:
country_grp['LanguageWorkedWith'].apply(lambda x : x.str.contains('Python').sum())

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [36]:
country_respondents = df['Country'].value_counts()
country_respondents

United States     12469
India              8403
United Kingdom     3896
Germany            3890
Canada             2191
                  ...
Saint Lucia           1
Gabon                 1
Fiji                  1
Kiribati              1
Grenada               1
Name: Country, Length: 183, dtype: int64

In [39]:
country_uses_python = country_grp['LanguageWorkedWith'].apply(lambda x : x.str.contains('Python').sum())
country_uses_python

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [41]:
python_df = pd.concat([country_respondents, country_uses_python], axis='columns',sort=False)
python_df

                Country  LanguageWorkedWith
United States     12469                5964
India              8403                2670
United Kingdom     3896                1621
Germany            3890                1712
Canada             2191                1011
...                 ...                 ...
Saint Lucia           1                   1
Gabon                 1                   1
Fiji                  1                   0
Kiribati              1                   0
Grenada               1                   0

[183 rows x 2 columns]

In [54]:
python_df.rename(columns={'Country': 'NumRespondents', 'LanguageWorkedWith': 'NumKnowsPython'}, inplace = True)

In [55]:
python_df

                Numrespondents  NumKnowsPython
United States            12469            5964
India                     8403            2670
United Kingdom            3896            1621
Germany                   3890            1712
Canada                    2191            1011
...                        ...             ...
Saint Lucia                  1               1
Gabon                        1               1
Fiji                         1               0
Kiribati                     1               0
Grenada                      1               0

[183 rows x 2 columns]

In [56]:
python_df['pctKnowsPython'] = (python_df['NumKnowsPython']/python_df['Numrespondents']) * 100

In [57]:
python_df

                Numrespondents  NumKnowsPython  pctKnowsPython
United States            12469            5964       47.830620
India                     8403            2670       31.774366
United Kingdom            3896            1621       41.606776
Germany                   3890            1712       44.010283
Canada                    2191            1011       46.143314
...                        ...             ...             ...
Saint Lucia                  1               1      100.000000
Gabon                        1               1      100.000000
Fiji                         1               0        0.000000
Kiribati                     1               0        0.000000
Grenada                      1               0        0.000000

[183 rows x 3 columns]

In [60]:
python_df.sort_values(by='pctKnowsPython', ascending=False, inplace=True)

In [61]:
python_df

,Numrespondents,NumKnowsPython,pctKnowsPython
"Micronesia, Federated States of...",1,1,100.000000
Gabon,1,1,100.000000
Saint Lucia,1,1,100.000000
Montenegro,13,9,69.230769
Brunei Darussalam,3,2,66.666667
...,...,...,...
Cape Verde,2,0,0.000000
San Marino,2,0,0.000000
Burundi,2,0,0.000000
Djibouti,2,0,0.000000
Grenada,1,0,0.000000

In [63]:
python_df.loc['Nepal']

Numrespondents    242.00000
NumKnowsPython     89.00000
pctKnowsPython     36.77686
Name: Nepal, dtype: float64