In [14]:
people = {
    'first' : ['Anurag', 'Jane', 'John', 'Adam'],
    'last' : ['Timilsina', 'Doe', 'Doe', 'Doe'],
    'email' : ['anurag.timilsina@gmail.com', 'janedoe@gmail.com', 'johndoe@gmail.com','adamdoe@gmail.com']
}

In [15]:
import pandas as pd

In [16]:
df = pd.DataFrame(people)

In [17]:
df

    first       last                       email
0  Anurag  Timilsina  anurag.timilsina@gmail.com
1    Jane        Doe           janedoe@gmail.com
2    John        Doe           johndoe@gmail.com
3    Adam        Doe           adamdoe@gmail.com

In [18]:
df.sort_values(by='last', ascending=False)

    first       last                       email
0  Anurag  Timilsina  anurag.timilsina@gmail.com
1    Jane        Doe           janedoe@gmail.com
2    John        Doe           johndoe@gmail.com
3    Adam        Doe           adamdoe@gmail.com

In [19]:
df.sort_values(by=['last','first'],ascending=False)

    first       last                       email
0  Anurag  Timilsina  anurag.timilsina@gmail.com
2    John        Doe           johndoe@gmail.com
1    Jane        Doe           janedoe@gmail.com
3    Adam        Doe           adamdoe@gmail.com

In [20]:
df.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)

In [21]:
df

    first       last                       email
0  Anurag  Timilsina  anurag.timilsina@gmail.com
3    Adam        Doe           adamdoe@gmail.com
1    Jane        Doe           janedoe@gmail.com
2    John        Doe           johndoe@gmail.com

In [22]:
df.sort_index()

    first       last                       email
0  Anurag  Timilsina  anurag.timilsina@gmail.com
1    Jane        Doe           janedoe@gmail.com
2    John        Doe           johndoe@gmail.com
3    Adam        Doe           adamdoe@gmail.com

In [23]:
df['last'].sort_values()

3          Doe
1          Doe
2          Doe
0    Timilsina
Name: last, dtype: object