In [3]:
#Dictionary data frame
people = {
    "first" : ["Anurag","Jane","John"],
    "last" : ["Timilsina","Doe","Doe"],
    "email" : ["anurag.timilsina@gmail.com", "janeDoe@gmail.com", "johnDoe@gmail.com"]
}

In [4]:
people['email']

['anurag.timilsina@gmail.com', 'janeDoe@gmail.com', 'johnDoe@gmail.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
df

    first       last                       email
0  Anurag  Timilsina  anurag.timilsina@gmail.com
1    Jane        Doe           janeDoe@gmail.com
2    John        Doe           johnDoe@gmail.com

In [8]:
df['email']

0    anurag.timilsina@gmail.com
1             janeDoe@gmail.com
2             johnDoe@gmail.com
Name: email, dtype: object

In [9]:
type(df['email'])

pandas.core.series.Series

In [10]:
df.email

0    anurag.timilsina@gmail.com
1             janeDoe@gmail.com
2             johnDoe@gmail.com
Name: email, dtype: object

In [11]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [12]:
df.iloc[0]

first                        Anurag
last                      Timilsina
email    anurag.timilsina@gmail.com
Name: 0, dtype: object

In [ ]:
df.iloc[[0,1]]